<div  *ngIf="svcItemTree">
  <div class="row">
    <div class="col-3">
    <span (click)="onSelectServiceItem(svcItemTree.service)">Service konfigurieren</span>
    <h3>Untergeordnete Service-Elemente</h3>

    <ul>
<li *ngFor="let item of svcItemTree.serviceAssets" (click)="onSelectServiceItem(item)">
{{item.serviceAsset.roleDisplayName}}
</li>
</ul>
    <service-price [serviceItemId]="serviceId"></service-price> 
    </div>
    <div class="col-8">
    <!--
      <div *ngIf="selectedSvcItem">
      <app-svcitem-config [svcItem]="selectedSvcItem"></app-svcitem-config>
      </div>
    -->
    <div *ngIf="svcItemId">
      <service-item-editor [itemId]="svcItemId"></service-item-editor>
      </div>
      
    </div>
  </div>
  
</div>




<!--
<div *ngIf="svcItemTree | async as svcTree">
<li *ngFor="let item of svcTree.serviceAssets">
<p>item.displayName</p> 
</li>
</div>
-->


