<div  *ngIf="svcItemTree">
  <div class="row">
    <div class="col-3">
    <h3>Service-Element auswählen</h3>

    <ul>
<li (click)="onSelectServiceItem(svcItemTree.service)">{{svcItemTree.service.displayName}}</li>
<li *ngFor="let item of svcItemTree.serviceAssets" (click)="onSelectServiceItem(item)">
Service-Asset&nbsp;{{item.serviceAsset.roleDisplayName}}
</li>
</ul>
     
    </div>
    <div class="col-6">
      <div *ngIf="selectedSvcItem">
      <app-svcitem-config [svcItem]="selectedSvcItem"></app-svcitem-config>
      
      </div>
    </div>
  </div>
</div>




<!--
<div *ngIf="svcItemTree | async as svcTree">
<li *ngFor="let item of svcTree.serviceAssets">
<p>item.displayName</p> 
</li>
</div>
-->


