<div *ngIf="serviceItem">
<!--
<h3>{{ serviceItem | svcItemDisplayName }}</h3>
-->
<mat-form-field class="example-full-width">
    <input matInput placeholder="Servicebezeichnung" [(ngModel)]="serviceItem.displayName" >
  </mat-form-field>
<div *ngIf="formGroup">
<form [formGroup]="formGroup">

    <dynamic-material-form [group]="formGroup" [model]="formModel" (blur)="onBlur($event)"
                                   (change)="onChange($event)"
                                   (focus)="onFocus($event)"
(matEvent)="onMatEvent($event)">

<ng-template modelId="switchMultiplicity" align="START">

            <p><b>Service-Optionen</b></p>

        </ng-template>

</dynamic-material-form>

<div class="col-4">
<button type="button" class="btn btn-primary"  (click)="updateServiceItem()">Speichern</button>&nbsp;
<button type="button" class="btn btn-primary"  (click)="getPriceInfo()">Preisblatt erzeugen</button>&nbsp;
<button type="button" class="btn btn-danger"  (click)="discardService()">Verwerfen</button>
</div>


</form>

<pre>{{formGroup.status  | json}}</pre>

</div>



<!--
<service-item-contacts [itemId]="itemId" [requiredContactRoles]="requiredContactRoles"></service-item-contacts>
-->
</div>
