<ng-container [formGroup]="group">

<dsl-abfrage [formControlName]="model.id"
[ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
                            (blur)="onBlur($event)"
                            (change)="onChange($event)"
                            (focus)="onFocus($event)" 
 [selectableBSAProducts]="model.selectableBSAProducts">
 
 </dsl-abfrage>
<!--
<service-item-contacts [formControlName]="model.id"
                            
                            [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
                            (blur)="onBlur($event)"
                            (change)="onChange($event)"
                            (focus)="onFocus($event)" 
                            [itemId]="model.itemId"
                            [requiredContactRoles]="model.requiredContactRoles">
</service-item-contacts> 

-->

</ng-container>