
<simple-service-search></simple-service-search>
<br/>
<br/>

<smdb-test-instantiate productName="IP Connect xDSL Basic" productId="10371658"></smdb-test-instantiate>

<!--
<smdb-test-instantiate productName="Internet xDSL (MO)" productId="10497242"></smdb-test-instantiate>
<br/>
<smdb-test-instantiate productName="Internet Fibre (MO)" productId="10498840"></smdb-test-instantiate>
<br/>
<smdb-test-instantiate productName="Internet Fibre Redundant (MO)" productId="10511512"></smdb-test-instantiate>
-->
